.back-home {
  margin-bottom: 20px;
}

.home-btn {
  text-decoration: none;
  background-color: #198754;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: 500;
  transition: 0.3s;
}

.home-btn:hover {
  background-color: #146c43;
}
